src/main/java/Main.java
target/classes/Main.class
GuildData(Ignore)/CurrentSlotsJackpot
GuildData(Ignore)/enable.in
GuildData(Ignore)/MemberMoney
GuildData(Ignore)/MemberXP
GuildData(Ignore)/Prefixes
GuildData(Ignore)/ShotgunRounds
